{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Predict your loan status</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'product/bs/css/flatly.min.css' %}" >
		<link rel="stylesheet" href="{% static  'product/styles.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	</head>
	<body >
			
        
		<div class="container-fluid" id="wrapper" >
			
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h2 style="font-family: verdana; font-size:150% ; margin-bottom: 30px;">Enter your details</h2>
					
					<form action="{% url 'result' %}" method="POST" role="form">{% csrf_token %}
					
						<div class="form-group">
							<div class="input-group">
								<div class="row">
									{% if user.is_authenticated %}
									     {% include 'product/navbar_loggedin.html' %}

										{% for field in form %}
											<div class="col-sm-6">
												<p>{{ field.label_tag }} {{ field }} </p> 
											</div>
										{% endfor %}
										   <centre>
											<div class="col-lg-12">
										
														<button type="submit" class="btn btn-warning" style="margin-top: 20px;width: 200px; margin-left: 25%;">
															<i class="glyphicon glyphicon-edit"></i> SUBMIT
														</button>
										
										   </div></centre>
										{{data}}
									{% else %}
									{% include 'product/navbar.html' %}
											<p>Login<a href="/login"> here</a></p>
									{% endif %}
								
							  </div>
						</div>
					</form>

					
				</div>
			</div>
		</div>
	</body>
</html>