<html>
     <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <!--jQuery library--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--Latest compiled and minified JavaScript--> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="s.css">
        <style>
            .style-r{
                margin-top:170px;
            }
            
           
        footer{
    padding:10px 0;
    background-color:#101010;
    color:#9d9d9d;
    bottom:0;
    width:100%
    
}
</style>
    </head>
    <body>
        {% include 'product/navbar.html' %}
        <div class="order">
            <div class="x">
         <div class="dcontainer">
             <centre>
                       <div class="panel-heading">
                           <centre>      <h4>Register</h4></centre>
                        </div>
                    </centre>
           <div class="row r-style">
               <div class="col-xs-5 col-xs-offset-3">
                                            
                   <br>
                  
                   <form method="post" action="registration1.php">
                       
                        <div class="form-group" >
                            
                              <input type="text" class="from-control form-control input-lg" name="Name" placeholder="Name" style="background-color: rgba(0,0,0,0.2); color: white" >
                        
                        </div>
                         <div class="form-group">
                            
                            <input type="password" class="from-control form-control input-lg" name="Password" placeholder="Password" style="background-color: rgba(0,0,0,0.2); color: white">
                        
                        </div>
                         <div class="form-group">
                            
                             <input type="text" class="from-control form-control input-lg" name="Sex" placeholder="Sex" style="background-color: rgba(0,0,0,0.2); color: white">
                        
                        </div>
                        <div class="form-group">
                            <input type="text" class="from-control form-control input-lg" name="DOB" placeholder="D.O.B" style="background-color: rgba(0,0,0,0.2); color: white">
                        </div>
                        <div class="form-group">
                            <input type="text" class="from-control form-control input-lg" name="phone" placeholder="Phone no" style="background-color: rgba(0,0,0,0.2); color: white">
                        </div>
                         <div class="form-group">
                            
                            <input type="text" class="from-control form-control input-lg" name="City" placeholder="City" style="background-color: rgba(0,0,0,0.2); color: white">
                        
                        </div>
                      
                        <input type="submit" value="submit" class="btn btn-danger">
                       
                       
                    </form>

               </div>
           </div></center>

                  </div> </center>
                  </div>
                                 
        </div>
        </div>
         
    </body>
</html>